@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
	all: unset;
	font-family: Poppins, sans-serif;
}

ul {
	list-style: none;
	font-size: 1.7em;
	line-height: 2em;
}

.title {
	font-size: 2.5em;
	font-weight: 600;
	color: #7c7dd8;
	margin-bottom: 0.5em;
	padding-top: 30px;
}
.lorem {
	font-size: 1em;
	font-weight: 300;
}

.lorem-light {
	font-size: 0.8em !important;
	font-weight: 200 !important;
	color: #757575;
}

input[type=submit] {
	width: 140px;
	height: 50px;
	color: #fff;
	background: #7c7cdd;
	font-size: 1em;
	border-radius: 90px;
	text-decoration: none;
	outline: none;
	border: none;
	float: right;
	margin-top: 30px;
}

input[type=submit]:active {
	transform: translateY(-2px);
}

input[type=submit]:hover {
	background-color: #ffffff;
	color: #7c7cdd;
	border: 1px solid #7c7cdd;
}

input[type=text] {
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #bfbfbf;
	box-sizing: border-box;
	font-family: 'Poppins';
	font-weight: bold;
	font-size: 24px;
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	padding-top: 30px;
	padding-bottom: 5px;
	-webkit-appearance: none;
	background: transparent;
	outline: none;
	appearance: unset !important;
	-moz-appearance: unset !important;
	-webkit-appearance: unset !important;
	-o-appearance: unset !important;
	-ms-appearance: unset !important;
}

.parent-container {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.column {
	display: flex;
	flex-direction: column;
	flex: 35%;
	padding: 20px;
	background-color: #efedfd;
	position: relative;
	text-align: center;
}

.dog-img {
	max-width: 95%;
	max-height: 50vh;
	border-radius: 20px;
	overflow: hidden;
	margin: auto;
	align-self: center;
}

.second-column {
	flex: 65%;
	padding: 20px;
	position: relative;
}

.input-box {
	width: 100%;
	margin-bottom: 8em;
}

.predict-box {
	margin: auto;
	display: none;
	flex-direction: column;
	text-align: start;
	word-wrap: break-word;
}
