@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	box-sizing: border-box;
}

body {
	all: unset;
	font-family: Poppins, sans-serif;
	font-weight: 600;
}

h1 {
	text-align: center;
}
h2,
h3,
h4,
h5 {
	font-size: 2em;
	margin-left: 5vh;
}

input[type=submit] {
	width: 10%;
	padding: 12px 20px;
	display: inline-block;
	border: 0;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #7c7dd8;
	color: #ccc;
}
input[type=text],
select {
	width: 80%;
	padding: 12px 20px;
	margin: 8px 0 30px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
}

.parent-container {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.column {
	flex: 35%;
	padding: 10px;
	background-color: #efedfd;
	position: relative;
}
.dog-box {
	border-radius: 20px;
	display: inline-flex;
	height: 50vh;
	overflow: hidden;
	position: absolute;
	bottom: 10px;
}

.dog-img {
	max-width: 100%;
}

.second-column {
	flex: 65%;
	padding: 10px;
}

.input-box {
}

.predict-box {
	padding: 10px;
}
